@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
}
/* Pour les navigateurs WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
.scrollbar-hide {
  scrollbar-width: none; /* Masque la barre de défilement */
}

/* Optionnel : Pour masquer la barre de défilement dans Internet Explorer 10+ */
.scrollbar-hide {
  -ms-overflow-style: none; /* Masque la barre de défilement */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
